/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.container{
    direction: rtl; text-align: center;padding-top: 20px;
}
@media print {
    .container{
        direction: rtl; text-align: center;padding-top: 20px;
    }
    #componentID{
        direction: rtl; text-align: center;padding-top: 20px;

    }
}